<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UserName</title>
</head>

<body>
    <a class="card" href="###">
        <img src="" alt="">
        <div class="card-heading"><strong>良辰美景</strong></div>
        <div class="card-content text-muted">良辰美景奈何天，赏心乐事谁家院。</div>
        <div class="card-actions">
            <button type="button" class="btn btn-danger"><i class="icon-heart"></i> 喜欢</button>
            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
        </div>
    </a>
</body>

</html>